@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
:root {
  --main-color: #008d96;
  --main-border-radius: 100px;
  --main-padding: 10px 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 100%;
}

body {
  font-size: 15.5%;
  font-family: "Lora", serif;
  background-color: #fafdfd;
}

.section-home {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #e3f1f2 100%);
  height: auto;
  overflow: hidden;
  position: relative;
}

.menu-content {
  display: none;
}

.container {
  max-width: 82rem !important;
  margin: 0 auto !important;
  width: 100%;
  /* background-color: rgb(179, 110, 110); */
}

.header-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 6.75rem;
  width: 100%;
}

.sticky .section-home {
  margin-top: 5rem;
}

.sticky .header-home {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 5rem;
  background-color: rgb(239, 209, 168);
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9999;
}

.header-home li {
  cursor: pointer;
}

.header-shadow {
  box-shadow: 0px 10px 20px 0px #003c400f;
}
.header-home ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 13rem;
  cursor: pointer;
}

.header-menu {
  display: none;
}

.home {
  margin-top: 2rem;
}

.kurs {
  font-size: 21px;
  font-family: "Mulish", sans-serif;
  line-height: 27.61px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.kurs a {
  color: #1b2221;
}

.courses span {
  font-size: 22px;
}
.header-right ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right ul li a {
  font-size: 16px;
}

.header-right ul li a span {
  color: white;
}
.header-right ul li:not(:last-child) a span {
  color: var(--main-color);
}

.header-right ul .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.header-right ul li:last-of-type {
  background-color: var(--main-color);
  color: white !important;
  border-radius: var(--main-border-radius);
}

.btn:first-of-type {
  padding: var(--main-padding);
  border-radius: var(--main-border-radius);
  border: 1px solid var(--main-color);
}

.btn {
  padding: var(--main-padding);
  border: var(--main-border);
}

.header-right ul li:nth-child(2) {
  margin-left: 7rem;
}
.header-right ul li:nth-child(3) {
  margin-left: 1rem;
}

/* home */

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.home-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.main-heading {
  font-size: 4.3rem;
}

.yellow-header {
  color: #f5af15;
}

.btn-home {
  font-family: "Mulish", sans-serif;
  line-height: 25.1px;
  font-weight: 600;
  font-size: 20px;
  outline: none;
  border: none;
  width: 10rem;
  height: 4rem;

  background-color: var(--main-color);
  border-radius: var(--main-border-radius);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}

.home-right {
  position: relative;
}

.img-container::after {
  content: "";
  display: inline-block;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 45px;
  border: 2px solid #cae6e8;
  z-index: -10;
}

.img-container::before {
  content: "";
  display: inline-block;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 5px;
  border: 2px dotted #cae6e8;
  z-index: -10;
}

.img-container img {
  z-index: 100;
  object-fit: cover;
}

.circles {
  position: absolute;
  z-index: -8;
  top: -1rem;
  right: 4rem;
}

.waves {
  position: relative;
}

/* Courses Section */

.section-courses {
  padding: 8rem 0;
  max-width: 82rem;
  margin: 0 auto;
}

.header-courses {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 28rem; */
}

.header-courses h1 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 6.8rem;
}

.category ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-family: "Mulish", sans-serif;
}

.category ul li a.active {
  background-color: var(--main-color);
  color: white;
}

.category ul li a {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.59px;
  padding: 10px 30px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  display: inline-block;
  border-radius: 10px;
}

.courses {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 6.8rem 0;
  column-gap: 2rem;
  row-gap: 3rem;
  width: 100%;
  margin: 0 auto;
}

.course {
  padding: 16px;
  width: 19rem;
  display: flex;
  background-color: white;
  flex-direction: column;
  gap: 20px;
  box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
}

.course-img-container {
  width: 17rem;
  height: 12rem;
}

.course-img {
  width: 100%;
}

.course-info {
  /* margin: 2rem 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-title,
.course-hours {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.08px;
}

.course-title {
  padding: 6px 10px;
  width: 80px;
  height: 31px;
  border-radius: 8px;
  background-color: #f5af15;
}

.course-hours {
  color: #939393;
  display: flex;
  align-items: center;
}

.divider {
  width: 100%;
}

.play-icon {
  font-size: 17px;
}

.main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.main-info .subtitle {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.59px;
}

.play-icon-secondary {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 16px;
  background: transparent;
  background-color: var(--main-color);
  outline: none;
  border: none;
  color: white;
}

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-center {
  padding: 1.5rem;
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 70px;
  font-family: "Mulish", sans-serif;
  line-height: 25.1px;
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.btn-icon {
  margin-left: 0.5rem;
}

.section-featured {
  background-color: #e3f1f2;
  padding: 10rem 0;
}

.featured-title {
  font-size: 3rem;
  line-height: 6.8rem;
  font-family: "Lora", sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
}

.featured-subtitle {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.6rem;
  font-family: "Mulish", sans-serif;
  margin-bottom: 4rem;
}

.featured-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured-left {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.featured-left-first,
.featured-left-second {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.featured-left-second {
  margin-top: 3rem;
}

.featured {
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: #fff;
  background: #ffffff;
  box-shadow: 3px 7px 30px rgba(1, 94, 100, 0.15);
  border-radius: 30px;
  padding: 36px 20px;
  align-items: center;
  width: 300px;
  height: 280px;
}

.featured-icon {
  padding: 20px 17px;
  width: 25px;
  height: 25px;
  border-radius: 10px;
}

.featured-left-second .featured {
  padding-bottom: 18px;
}

.featured-left-first .featured:nth-child(1) .featured-icon {
  background-color: #f57170;
}

.featured-left-first .featured:nth-child(2) .featured-icon {
  background-color: #64b7f4;
}

.featured-left-second .featured:nth-child(1) .featured-icon {
  background-color: #46ab99;
}

.featured-left-second .featured:nth-child(2) .featured-icon {
  background-color: #ffae01;
}

.featured-left-title {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
}

.featured-text {
  font-family: "Mulish", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.featured-right {
  position: relative;
}
.featured-right-img {
  position: relative;
}
.featured-right-img::before {
  content: url(img/groupShape1.svg);
  position: absolute;
  top: 60;
  left: -30px;
}
.featured-right-img::after {
  content: url(img/groupShape2.svg);
  position: absolute;
  right: 320px;
  top: -10px;
}

.featured-right-img img {
  background-color: #c4c4c4;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  object-fit: contain;
}

.featured-right-img img::after {
  content: url(img/shape-1.svg);
  display: inline-block;
}

.featured-bottom-img {
  position: absolute;
  right: 0;
  bottom: -15px;
}

/* Footer */

.footer {
  background: url(img/footerBg.png);
  height: auto;
  background-repeat: no-repeat;
  width: 100%;
  padding: 3rem 0 1rem 0;
  z-index: -1;
}

.footer-top {
  display: flex;

  justify-content: space-between;
  gap: 9rem;
}

.footer-top-left {
  display: flex;
  gap: 3rem;
}
.footer-top-first {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-top-first img {
  z-index: 10 !important;
  color: white;
  margin-bottom: 1rem;
}

.footer-top-first p {
  color: white;
}

.footer-top-secondary li,
.footer-top-tertiary li {
  list-style: disc;
  color: white;
}

.footer-top-secondary li:not(:last-child),
.footer-top-tertiary li:not(:last-child) {
  margin-bottom: 1.8rem;
}

.footer-top-secondary li a,
.footer-top-tertiary li a {
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-top-fourth p {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.email-input {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 20px;
  border-radius: 100px;
  height: 60px;
  width: 25rem;
  background-color: white;
}

.form button {
  position: absolute;
  right: 0;
  width: 100px;
  height: 60px;
  border: none;
  outline: none;
  background: #f5af15;
  border-radius: 60px;
  cursor: pointer;
}

.footer-bottom {
  margin-top: 2rem;
}

.footer-bottom-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.footer-bottom-flex p {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: white !important;
}

/* Course Page */

.course-covering,
.course-covering ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-covering {
  flex-direction: column;
  gap: 1rem;
  background-image: url(img/courseCover.png);
  background-repeat: no-repeat;
  height: 150px;
  opacity: 0.8;
  background-size: cover;
  margin-top: -1rem;
  position: relative;
}

.bg-color {
  background-color: #008d96;
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.7;
}
.course-covering h1 {
  font-family: "Mulish", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.course-covering ul {
  gap: 1rem;
}
.course-covering ul li a {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.header-courses-extended {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SINGLE IOS PAGE */

.section-single-ios {
  padding: 3rem 0;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.share {
  background: #dd4b39;
  color: white;
}

.whatsapp {
  background: #8ee28a;
  color: white;
}

.instagram {
  background: rgb(193, 53, 132);
  color: white;
}

.ios-title {
  display: flex;

  flex-direction: column;
  gap: 1rem;
}

.ios-title-top,
.ios-title-top ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.ios-title-top ul li,
.ios-title-top span {
  font-family: "Mulish", sans-serif;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.ios-title-top ul li a {
  color: #939393;
}
.ios-title-top span {
  color: #1b2221;
}

.ios-title-bottom {
  width: 25rem;
}

.course-info-ios {
  width: 275px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.ios-title-bottom .course-hours {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.about {
  display: flex;
  gap: 100px;
  margin-top: 1rem;
}

.about-left {
  flex: 2;
}

.about-title {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.about-title img {
  object-fit: cover;
}

.about-title h1 {
  font-family: "Mulish", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.about p {
  color: #939393;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.about-right {
  flex: 1;
}

.about h2 {
  font-family: "Mulish", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #008d96;
  margin-bottom: 35px;
  margin-top: 26px;
}

.about h4 {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.video-format iframe {
  margin-left: 3rem;
  margin-bottom: 22px;
  width: 560px;
  height: 316px;
}

.video-format p,
.android-development p {
  line-height: 24px;
}

.android-development img {
  width: 686px;
  height: 457px;
  margin-bottom: 22px;
}

.forLoop {
  background: linear-gradient(0deg, #cae6e8, #cae6e8),
    linear-gradient(0deg, #ecf8f9, #ecf8f9);
  width: 579px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.forLoop p {
  padding: 18px 0 18px 34px;
}

.about hr {
  width: 100%;
  margin-bottom: 25px;
}

.document-icon {
  width: 16px;
  height: 20px;
}

.document-and-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 30px;
}

.about-left--bottom {
  background: #fbfbfb !important;
  padding: 18px 27px;
  border-radius: 8px;
  border: 1px solid #ece2cb;
  margin-bottom: 20px;
}

.about-left--bottom h4 {
  color: #be870d;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.about-left--bottom h4:first-of-type {
  margin-bottom: 2rem;
}

.about-left--bottom > p {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b2221;
}

.about-left--bottom button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #be870d;
  border: 1px solid #be870d;
  background-color: transparent;
  padding: 7px 27px;
  border-radius: 70px;
  margin-top: 12px;
  margin-bottom: 34px;
}

.about-left--bottom button p {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.forLoop-red {
  background: #35280a !important;
}

.about-right h1 {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 35px;
}

.course-lessons {
  background: #ffffff;
  opacity: 0.8;
  border: 1px solid #dfdbdb;
  padding: 15px 19px;
}

.course-lessons:first-of-type {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.course-lessons:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.course-lessons--top {
  display: flex;
  gap: 0.5rem;
}

.course-lessons--top div {
  margin-top: 5px;
}

.course-lessons:nth-child(6) input,
.course-lessons:nth-child(7) input {
  display: none;
}
.course-lessons:nth-child(6) input,
.course-lessons:nth-child(7) input {
  display: none;
}

.course-lessons input {
  width: 18px;
  height: 18px;
  margin-right: 16px;
}

.course-lessons label {
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b2221;
  display: inline;
}

.closed {
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.course-lessons div:nth-of-type(2) {
  margin-left: 2rem;
  margin-top: 1rem;
}

.lesson-icon {
  width: 22px;
  height: 22px;
}

.course-lessons span {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.lock-icon {
  width: 19px;
  height: 19px;
  margin-right: 16px;
}

.closed-course {
  padding: 24px 19px;
  background-color: #fff8f8;
  display: flex;
  gap: 0.5rem;
  border: 1px solid #dfdbdb;
}
.closed-course--right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.closed-course--right span {
  font-family: "Mulish";
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b2221;
}
.closed-course--right {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 13px;
}

.closed-course--right div {
  margin-left: -90px;
}
.closed-course:last-child .closed-course--right div {
  margin-left: -15rem;
}

.closed-course:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.alike-courses--title {
  font-family: "Mulish", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: -38px;
  margin-top: 35px;
}

/* PAGINATION */

.pagination-btns {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 0.2rem;
  padding-bottom: 2rem;
}
.pagination-btn {
  width: 50px;
  font-size: 25px;
  background-color: aqua;
  border: 1px solid black !important;
  outline: none;
  cursor: pointer;
}

/* HOVERABLE DIV */

.hoverable {
  display: none;
}

.course:hover {
  position: relative;
  overflow: hidden;
}

.course:hover .hoverable {
  display: block;
  background-color: rgba(0, 0, 0, 0.22);
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  gap: 1rem;
}

.hoverable button,
.hoverable a {
  background-color: rgb(241, 186, 143);
  border: none !important;
  outline: none !important;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.hoverable a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hoverable span {
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
}

/* SEBET  */

.add-info {
  position: fixed;
  background-color: #8cdcd7;
  color: rgba(255, 255, 255, 0.804);
  /* bottom: 200px; */
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  top: 100px;
  left: 200px;
}

/*Media Queries */

@media screen and (max-width: 1200px) {
}

@media screen and (min-width: 1560px) {
  .container {
    width: 90rem;
    margin: 0 auto;
  }
  .course {
    width: 27rem;
  }

  .course-img-container {
    width: 23.8rem;
  }
}
